* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.product-container {
  width: 825px;
  border: 3px solid black;
  margin: 40px auto;
}
h2 {
  padding-block: 8px;
  text-align: center;
  text-transform: uppercase;
  background: rgb(230, 227, 227);
  font-size: 20px;
}
.product-info-container {
  display: flex;
  flex-basis: auto;
}

.product-details {
  border: 2px solid green;
}
