body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h2 {
  color: rgb(21, 17, 17);
  font-size: 2rem;
}
.fetch-btn {
  border: 3px solid rgba(137, 43, 226, 0);
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(153, 3, 60);
  color: white;
  cursor: pointer;
}
.fetch-btn:hover {
  background-color: rgb(202, 31, 96);
  transition: background-color 1.2s ease-out;
}
.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.user {
  height: 300px;
  width: 300px;
  border: 4px solid rgb(160, 26, 86);
  border-radius: 50px;
}
